<h1>Welcome!</h1>
<p>This is a demo website for Wogi assignment with Ruby on Rails.</p>
<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card bg-light">
      <%= image_tag "brands.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Brands</h5>
        <p class="card-text">Manage brands for your product!</p>
        <%= link_to "View details", brands_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-light">
      <%= image_tag "products.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">Manage your incredible products!</p>
        <%= link_to "View details", products_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
