
<% if user_signed_in? %>
  <h1> Welcome back! </h1>
<% else %>
  <h1>Welcome to my website!</h1>
<% end %>
<p>This is a demo website for Wogi assignment with Ruby on Rails.
<div class="row">
  <div class="col-md-6">
    <h2>Brands</h2>
    <p>Manage brands for your product!</p>
    <%= link_to "View details", brand_path, class:"btn btn-primary" %>
  </div>
  <div class="col-md-6">
    <h2>Products</h2>
    <p>Manage our incredible products!</p>
    <%= link_to "View details", product_path, class:"btn btn-primary" %>
  </div>
</div>
