<div id="<%= dom_id card %>" class="border border-1 shadow-sm p-4">
  <% if card.state == 'waiting' %> 
    <div class="d-flex mb-3 bg-info border border-1 p-2 rounded shadow-sm">
      <strong class="align-middle">Please activate your card by using the activation code and reseting your PIN</strong>
    </div>
  <% end %>
  <h1 class="mb-5"><%= card.name %></h1>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Card Number</strong>
    </div>
    <div class="col">
      <%= card.card_number %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Expired At</strong>
    </div>
    <div class="col">
      <%= card.expired_date %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Status</strong>
    </div>
    <div class="col">
      <% if card.state == 'waiting' %>
        <span class="badge bg-danger">Deactivated</span>
      <% elsif card.state == 'active' %>
        <span class="badge bg-success">Active</span>
      <% end %>
    </div>
  </div>
</div>
