<% if notice %> 
  <div class="d-flex mb-3 bg-info border border-1 p-2 rounded shadow-sm">
    <span class="align-middle"><%= notice %></span>
  </div>
<% end %>
<p class="h1">Your Cards</p>
<hr/>
<div class="mb-3">
  <%= link_to "REQUEST NEW CARD", new_card_path, class: "btn btn-success me-1" %>
</div>
<div id="cards">
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Username</th>
        <th scope="col"></th>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr class="align-middle">
          <td scope="row"><%= card.user.name %></td>
          <td scope="row">
            <%= link_to "View Detail", card, class: "btn btn-primary float-end" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @cards.length == 0 %>
    <p class="text-center text-muted fst-italic">You have no active cards. Please request a new one by clicking the REQUEST NEW CARD button.</p>
  <% end %>
</div>
