<div id="<%= dom_id brand %>" class="border border-1 shadow-sm p-4">
  <h1 class="mb-5"><%= brand.name %></h1>
  <div class="row mb-3">
    <div class="col-sm-1">
      <strong>Code</strong>
    </div>
    <div class="col">
      <%= brand.code %>
    </div>
  </div>
</div>
