<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= brand.active %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= brand.code %>
  </p>

</div>
